---
name: default_autoresponder
to: '{{ form.properties.email }}'
from: 'noreply@probityweb.com.au'
reply_to: 'Get Performing <success@getperforming.com>'
subject: Job Booking Confirmation
bcc:
cc:
delay: 0
enabled: true
trigger_condition: true
---
  <p>Thank you for reaching out and expressing interest in our services!</p>
  <p>I'm delighted to welcome you to our community.</p>
  <p>
    As a mind management expert, I specialize in helping business owners reignite
    their mojo and give them the tools to lead with renewed energy.
  </p>
  <p>
    To get started, I'd love to offer you a free session to discuss your
    challenges and explore how my expertise can help you right now.
  </p>
  <p>
    <a
      href="https://www.jeromelamarque.com/free-strategy-session"
      title="Schedule your session now"
    >Please click this link to schedule your session</a
    > at a time that works best for you.
  </p>
  <p>In this session, we'll:</p>
  <ol>
    <li>Understand your unique needs and challenges.</li>
    <li>Discuss your goals and what you hope to achieve.</li>
    <li>
      Explore potential strategies and solutions so you can see fast progress.
    </li>
  </ol>
  
  <p>
    Chat soon,<br /><br />
    Founder of Get Performing<br />
    <strong>Jerome Lamarque</strong>
  </p>
  <img
    src="https://uploads.prod01.sydney.platformos.com/instances/628/assets/images/email-signature-logo.png"
    alt="Get Performing Logo"
    style="width: 15%; height: auto; margin-bottom: 1rem;"
  />
  